<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Edición de producto</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/styles-formulario.css">

</head>
<body>
    <!-- header -->
    <%- include('../partials/header') %>
    
    <div class ='errores'>
        <ul>
        </ul>
    </div>
     <form action="/products/<%= productoEnDetalle.id%>?_method=PUT/edit" method="POST" class="formulario">
        <br>
        <div class="control-formulario">
            <h3>Perfil del usuario</h3>
            <label class="radio"><input type="radio" name="perfil" id="perfil" value="Creador"></input>Creador</label>
            <label class="radio"><input type="radio" name="perfil" id="perfil" value="Vendedor" ></input>Vendedor</label>
        </div>
        <div class="control-formulario">
            <p>Creador</p>
            <input type="text" name="creador" id="creador" placeholder="<%=productoEnDetalle.creador%>" class="control">
        </div>
        <div class="control-formulario">
            <p>Vendedor / Coleccionista</p>
            <input type="text" name="coleccionista" id="coleccionista" placeholder="<%=productoEnDetalle.coleccionista%>" class="control">
        </div>
        <div class="control-formulario">
            <h3>Sobre el producto</h3>
            <p>Fecha de creacion: <%=productoEnDetalle.fechaDeCreacion%></p>
            <input type="date" name="fechaDeCreacion" id="fechaDeCreacion" min='1900-01-01' max="2010-01-01" class="control">
            <p>Precio base de la subasta</p>
            <input type="number" name="precio" id="precio" placeholder="<%=productoEnDetalle.precio%>ETH" class="control">
        </div>
        <div class="control-formulario">
            <p>Nombre Producto</p>
            <input type="text" name="nombreProducto" id="nombreProducto" placeholder="<%=productoEnDetalle.nombreProducto%>" minlength="3" class="control">
        </div>
        <div class="control-formulario">
            <p>Colección</p>
            <input type="text" name="coleccion" id="coleccion" placeholder="<%=productoEnDetalle.coleccion%>" minlength="3" class="control">
        </div>
        <div class="control-formulario">
            <p>Descripcion</p>
            <textarea name="descripcion" id="descripcion" placeholder="<%=productoEnDetalle.descripcion%>" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <h3>Categoria</h3>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Animación"></input>Animación</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="3d"></input>3d</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Ilustración"></input>Ilustración</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Surreal"></input>Surreal</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Raro"></input>Raro</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Color"></input>Color</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Abstracto"></input>Abstracto</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" id="categoria" value="Otro"></input>Otro...</label>
        </div>
        <div class="control-formulario">
            <h3>Subir archivos</h3>
            <p>Imagen principal del producto</p>
            <img src="../../img/products/<%=productoEnDetalle.imagen%>" style="width: 150px;">
            <input type="file" name="imagen" id="imagen" accept="image/*" class="control"></input>
            <p>Archivo original del producto</p>
            <input type="file" name="productoOriginal" id="productoOriginal" accept="video/*" class="control"></input>
            <p>Formato</p>
            <label class="radio"><input type="radio" name="formato" id="formato" value="jpg"></input>Imagen</label>
            <label class="radio"><input type="radio" name="formato" id="formato" value="mp4"></input>Video</label>
            <label class="radio"><input type="radio" name="formato" id="formato" value="3d"></input>Modelo</label>
        </div>
        </div>
        <button type="submit" class="boton-formulario">Editar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
    </form>
    <script src='/js/validacionesEditarProducto.js'></script>

    <!-- footer -->
    <%- include('../partials/footer') %>
    
</body>
</html>