<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Detalle de producto</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/styles-producto.css">

</head>
<body>
    <!-- header -->
    <%- include('../partials/header') %>

    <main>
        <div class="descripcion">
            <div>
                <img src="/img/products/<%=productoEnDetalle.imagen%>" class="descripcionIzq">
            </div>
            <div class="descripcionDer">
                <h1><%=productoEnDetalle.nombre%></h1>
                <h3><i class="fas fa-user-circle"></i><%=productoEnDetalle.creador%></h3>
                <h3><i class="fas fa-user-circle"></i><%=productoEnDetalle.coleccionista%></h3>
                <p><%=productoEnDetalle.descripcion%></p>
                <p id='fecha'><%=productoEnDetalle.fechaDeCreacion%></p>
                <p><%=productoEnDetalle.categoria%></p>
                <% if (locals.isLogged) { %>
                <a href="/products/<%= productoEnDetalle.id %>/edit"><button class="botonExtra">Editar</button></a>
                <form action="/products/<%= productoEnDetalle.id%>/delete" method="POST" onsubmit="return confirm('¿Estas seguro que queres borrar <%=productoEnDetalle.nombre%>?')">
                    <button type="submit" class="botonExtra">Eliminar</button>
                </form>
                <% } %> 
                <a href="/products/carrito">
                <button class="botonPrincipal">Añadir al carrito / Ofertas</button>
                </a>
                <br>
                <br>
                <p>Mayor oferta: <i style="font-weight:bold" id='precio'>$<%=productoEnDetalle.precio%></i><a href="#"><i style="color:orangered"> Ver ofertas recientes</i></p></a>
            </div>
        </div>
        <h2>Más del creador</h2>
        <div class="masDelCreador">
        <% const cant = []%>
        <% for(let i=0; i<productos.length;i++){ %>
        <%    if (productos[i].nombre != productoEnDetalle.nombre && productos[i].creador==productoEnDetalle.creador && cant.length < 2){%>
            <% cant.push(i) %>
            <a href="/products/<%=productos[i].id %>">
            <embed src="/img/products/<%=productos[i].imagen%>">
            </a>
            <% } %>
            <% }%>
        </div>
        <h2>Más del vendedor</h2>
        <div class="masDelVendedor">
            <% const cant2 = []%>
            <% for(let i=0; i<productos.length;i++){ %>
                <%    if (productos[i].nombre != productoEnDetalle.nombre && productos[i].FKcoleccionista==productoEnDetalle.FKcoleccionista && cant2.length < 3){%>
                    <% cant2.push(i) %>
                    <a href="/products/<%=productos[i].id %>">
                        <embed src="/img/products/<%=productos[i].imagen%>">
                    </a>
                    <% } %>
                    <% } %>
                    
        </div>
        <h2>Similares</h2>
        <div class="similares">
            <% const cant3 = []%>
            <% for(let i=20; i<productos.length;i++){ %>
                <%    if (productos[i].categoria==productoEnDetalle.categoria && cant3.length < 5){%>
                    <% cant3.push(i) %>
                    <a href="/products/<%=productos[i].id %>">
                        <embed src="/img/products/<%=productos[i].imagen%>">
                    </a>
                    <% } %>
                    <% }%>
        </div>
        <script src='/js/producto.js'></script>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
    
</body>
</html>