<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles-home.css">
</head>

<body>
    <header>
        <div class="menu">
            <a href="/users/registro"><i class="fas fa-heart"></i></a>
            <a href="/products"><i class="fas fa-fire"></i></a>
            <a href="/"><i class="logo">Logo</i></a>
            <a href="/users/login"><i class="fas fa-user"></i></a>
            <a href="/products/carrito"><i class="fas fa-cart-plus"></i></a>
        </div>
        <div class="caratula">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perferendis porro libero dolorum quia possimus! A, illo repellat saepe sequi est iusto laudantium, deleniti dolores dignissimos error nemo sit pariatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias nobis vero maiores nulla velit enim aut, aliquid asperiores praesentium quidem aspernatur impedit cumque minus tempore id, excepturi eius dolorum mollitia?</p>
    </div>
    <div class="buscadores">
        <div class="buscador1">
        <h4>Buscador</h4>
        <input type="text" placeholder="Busca productos, colecciones, perfiles..."></input>
        </div>
        <div class="buscador2">
        <h4>Categoria</h2>
        <select type="text" placeholder="Categoria">
            <option>Animación</option>
            <option>3d</option>
            <option>Ilustración</option>
            <option>Surreal</option>
            <option>Raro</option>
            <option>Color</option>
            <option>Abstracto</option>
            <select> 
        </div>
    </div>
    </header>

    <main>
        <div class="sec-principal">
            <div>
                <img src="/img/products/img-ParisAndChill5-FlorentBoston-SecPrincipal.jpg">
                <h3>Paris and Chill 5/5</h3>
                <h5>Florent Boston</h5>
                <p>VALOR</p>
            </div>
               
            <% for (let i=0; i<productos.length; i++) {%>
            <div>
                <% if(productos[i].seccion == "Principal"){%>
                <a href="/products/<%= productos[i].id %> " class="estiloHref">   
                <img src="/img/<%= productos[i].imagen %>">
                <h3><%= productos[i].nombreProducto %></h3>
                <h5><%= productos[i].creador %></h5>
                <p>$<%= productos[i].precio %></p>
             <% } %> 
                </a>   
            </div>
            <% } %> 
        </div>
        
        
        
        <div class="sec-secundaria">
            <h2>Secundaria</h2>
            <% for (let i=0; i<productos.length; i++) {%>
            <div>
            <% if(productos[i].seccion == "Secundaria"){%>
                <a href="/products/<%= productos[i].id %> " class="estiloHref">                
                <img src="/img/<%= productos[i].imagen %>">
                <source src="/img/<%= productos[i].imagen %>" type="video/mp4">
                <h3><%= productos[i].nombreProducto %></h3>
                <h5><%= productos[i].creador %></h5>
                <p>$<%= productos[i].precio %></p>
            </div>
                </a>            
            <% } %>         
            <% } %>
        </div>    

        <div class="sec-creadores">            
            <h2>Creadores</h2>
            <% for (let i=0; i<productos.length; i++) {%>
            <div class="sec-creadores-imagenes">
                <a href="/products/<%= productos[i].id %> " class="estiloHref">          
                <div>                               
                    <% if(productos[i].seccion == "Creadores"){%>                         
                    <img src="/img/<%= productos[i].imagen %> ">                                   
                    <h5><i class="fas fa-user-circle"<%= productos[i].creador %>></i></h5>
                    <h3><%= productos[i].nombreProducto %></h3>
                    <p>$<%= productos[i].precio %></p>
                </div>
                </a> 
            <% } %> 
            <% } %>           
        </div>
        
        <div class="sec-populares">
            <h2>Populares</h2>
            <% for (let i=0; i<productos.length; i++) {%>
            <div class="sec-populares-imagenes">
                <a href="/products/<%= productos[i].id %> " class="estiloHref"> 
                <div>                  
                    <% if(productos[i].seccion == "Populares"){%>                         
                    <img src="/img/<%= productos[i].imagen %> ">
                    <h3><%= productos[i].nombreProducto %></h3>
                    <h5><%= productos[i].creador %></h5>
                    <p>$<%= productos[i].precio %></p>                    
                </div>
                </a>
                <% } %>
            <% } %>     
            </div>    
        </div>   
    </div>

    </main>

    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>