<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vista de Edición</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/header-footer.css">
        <link rel="stylesheet" href="/css/styles-formulario.css">
    </head>
    <body>
        <!-- header -->
        <%- include('../partials/header') %>

        <div class ='errores'>
            <ul>
            </ul>
        </div>
        <main>
            <form action='/users/<%= user.id%>/editar' method='POST' class='formulario'>
                <div class='control-formulario'>
                    <br>
                    <h3>Nombre completo</h3>
                    <input type='text' name='nombre' id='nombre' value='<%=user.nombre%>'>
                    <input type='text' name='apellido' id='apellido' value='<%=user.apellido%>'>
                </div>
                <div class='control-formulario'>
                    <h3>Email</h3>
                    <input type='email' name='email' id='email' value='<%=user.email%>'>
                </div>
                <div class='control-formulario'>
                    <h3>Fecha de nacimiento</h3>
                    <input type='date' name='fehcha_nacimiento' id='fehcha_nacimiento' value='<%=user.fechaNacimiento%>'>
                </div>
                <div class='control-formulario'>
                    <h3>Foto de perfil</h3>
                    <img src="../../img/users/<%=user.avatar%>" style="width: 150px;">
                    <br>
                    <input type='file' name='fotoPerfil' id='fotoPerfil' value='<%=user.avatar%>' accept=".jpg, .jpeg, .png">
                </div>
                <div class='control-formulario'>
                    <h3>Tipo de perfil</h3>
                    <label class="radio"><input type="radio" name="coleccionista" id="perfilC" value="0"></input>Creador</label>
                    <label class="radio"><input type="radio" name="coleccionista" id="perfil" value="1" ></input>Coleccionista</label>
                    <div>
                        <br>
                    <input 
                    type="text" 
                    name="codigo" 
                    placeholder="Codigo de invitación" 
                    id="codigo" 
                    style='display:none'
                    class="<%= locals.errors && errors.codigo? 'invalido' : null %>"
                    value="<%= locals.oldData ? oldData.codigo : null %>"
                    >
                <% if (locals.errors && errors.codigo) { %>
                    <div class="texto-error">
                       <%= errors.codigo.msg %>
                    </div>
                <% } %>
                </div>
                </div>
                <button type="submit" class="boton-formulario">Editar</button>
                <button type="reset" class="boton-formulario">Borrar</button>

            </form>
            <script src='/js/validacionesEditarRegistro.js'></script>

        </main>
        <!-- footer -->
        <%- include('../partials/footer') %>
    </body>
</html>