<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Registro</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles-registro.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header') %>

    <div class ='errores'>
        <ul>
        </ul>
    </div>
    <main>
        <form action="/users/registro" method="POST" enctype="multipart/form-data">
        <h1>Creador</h1>
        <p id='descripcion'>Conviértete en creador y empieza a vender tus diseños digitales</p>
        <p>-Click en titulo para cambiar de tipo de perfil-</p>
        <br>
        <input 
            type="text" 
            name="nombre" 
            placeholder="Nombre (será visto públicamente)" 
            id="subdomain" 
            class="<%= locals.errors && errors.nombre ? 'invalido' : null %>"
            value="<%= locals.oldData ? oldData.nombre : null %>"
            >
        <% if (locals.errors && errors.nombre) { %>
            <div class="texto-error">
               <%= errors.nombre.msg %>
            </div>
        <% } %>
        <br>

        <input 
        type="text" 
        name="apellido" 
        placeholder="Apellido (será visto públicamente)" 
        id="subdomain" 
        class="<%= locals.errors && errors.apellido ? 'invalido' : null %>"
        value="<%= locals.oldData ? oldData.apellido : null %>"
        >
    <% if (locals.errors && errors.apellido) { %>
        <div class="texto-error">
           <%= errors.apellido.msg %>
        </div>
    <% } %>
    <br>

        <input 
            type="email" 
            name="email" 
            placeholder="Correo electrónico" 
            id="subdomain" 
            class="<%= locals.errors && errors.email ? 'invalido' : null %>"
            value="<%= locals.oldData ? oldData.email : null %>"
            >
        <% if (locals.errors && errors.email) { %>
            <div class="texto-error">
               <%= errors.email.msg %>
            </div>
        <% } %>
        <br>
        <input 
            type="password" 
            name="contraseña" 
            placeholder="Contraseña" 
            id="subdomain" 
            class="<%= locals.errors && errors.contraseña ? 'invalido' : null %>" 
            >
        <% if (locals.errors && errors.contraseña) { %>
            <div class="texto-error">
               <%= errors.contraseña.msg %>
            </div>
        <% } %>
        <br>
        <input 
            type="text" 
            name="codigo" 
            placeholder="Codigo de invitación" 
            id="codigo" 
            class="<%= locals.errors && errors.codigo? 'invalido' : null %>"
            value="<%= locals.oldData ? oldData.codigo : null %>"
            >
        <% if (locals.errors && errors.codigo) { %>
            <div class="texto-error">
               <%= errors.codigo.msg %>
            </div>
        <% } %>
        <div>
        <input type="file" name="avatar">
        <% if (locals.errors && errors.avatar) { %>
            <div class="texto-error">
               <%= errors.avatar.msg %>
            </div>
        <% } %>
        </div>
        <p style="text-align: end;" id='solicitarCodigo'><a style="color:white;"href="#" >Solicitá tu código de invitación</a></p>
        <br>
        <button class="ingresar">Registrarse</button>
        <br>
        <input type="checkbox" id='colec'style="display:none" name="coleccionista" value='0' checked></input>
        <br>
        <p>¿Ya estas registrado? <a href="/users/login" style="color:#b8b451">Ingresa</a></p>
        </form>
        <script src='/js/validacionesRegistro.js'></script>
    </main>

     <!-- footer -->
     <%- include('../partials/footer') %>

</body>
</html>